data/wps_schemas/plugin_list/plugins.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Plugin">
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
  <xs:element name="plugins">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="plugin" type="Plugin" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

