data/wps_schemas/get_option_descriptions/options.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Option">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="type" type="xs:int"/>
    <xs:attribute name="description" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="Options">
    <xs:sequence>
      <xs:element name="option" type="Option" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="options" type="Options"/>
</xs:schema>
