data/wps_schemas/constant_list/road_types.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RoadType">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="id" type="xs:long"/>
  </xs:complexType>
  <xs:complexType name="RoadTypes">
    <xs:sequence>
      <xs:element name="road_type" type="RoadType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="road_types" type="RoadTypes"/>
</xs:schema>
