data/wps_schemas/constant_list/transport_networks.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TransportNetwork">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="id" type="xs:long"/>
    <xs:attribute name="provided_transport_types" type="xs:long"/>
  </xs:complexType>
  <xs:element name="transport_networks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transport_network" type="TransportNetwork" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
